#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "resource.h"
IDR_MYFRAGMENTSHADER FRAGMENT_SHADER_PATH "fragment.glsl"
IDR_MYVERTEXSHADER VERTEX_SHADER_PATH "vertex.glsl"
IDR_MYFRAGMENTSHADER_ESSL FRAGMENT_SHADER_PATH_ESSL "fragment.essl"
IDR_MYVERTEXSHADER_ESSL VERTEX_SHADER_PATH_ESSL "vertex.essl"







